.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: xx-large;
  display: flex;
  position: centre;
}


/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; 
} */

.container {
    background: linear-gradient(135deg, black, #010111, #020225, black);
    background: linear-gradient(
      135deg,
      rgb(62, 50, 79),
      #19194b,
      #2a2a60,
      rgb(61, 55, 151)
    );
    background-size: 400% 400%;
    animation: gradientWave 15s ease infinite;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}


button {
  font-size: 16px;
  padding: 10px 20px; 
  margin-top: 20px;
}
